<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301850316531-1o6krki3uglt13a4e264bdmlu884fdk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301850316531-1o6krki3uglt13a4e264bdmlu884fdk2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>301850316531-1pjk1mhr23mghgufps5ltidu39d5n1cg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdsHdGG25SZjtriUdVS6DoId13mVuQb1E</string>
	<key>GCM_SENDER_ID</key>
	<string>301850316531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luismarcilio.grocery-brasil-app</string>
	<key>PROJECT_ID</key>
	<string>grocery-brasil-app</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-brasil-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301850316531:ios:2de4be4f8acf54005a3186</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-brasil-app.firebaseio.com</string>
</dict>
</plist>